# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MailcowBackup.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\AsifB\Documents\RiderProjects\MailcowBackup\.idea\.idea.MailcowBackup.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
